@import url("https://fonts.googleapis.com/css2?family=Anton&family=Sedgwick+Ave+Display&display=swap");
.logo {
  text-align: center;
}
.logo img {
  width: 1.5rem;
}
.container-b {
  text-align: center;
}
.title {
  margin-top: 3rem;
  font-size: large;
  font-family: "Sedgwick Ave Display", cursive;
}
.card-c {
  margin-top: 0.5rem;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}
.card-c:hover{
    transition: 1s;
    box-shadow: 0px 0px 15px -3px #000000;
}
.card-c:hover img{
    transition: 1s;
    opacity: 0.8;
}
.card-c:hover button{
    transition: 1s;
opacity: 1;
background-color: rgb(131, 57, 7);
}
.card-c button {
  background-color: rgb(202, 88, 13);
  color: aliceblue;
  font-size: large;
  border: none;
  border-radius: 0.3rem;
  font-family: "Sedgwick Ave Display", cursive;
  position: relative;
  top: -5%;
}
.card-c p {
  position: relative;
  top: -5%;
  font-family: "Sedgwick Ave Display", cursive;
}
.card-c img {
  width: 85%;
}
.map{
    text-align: center;

}
.map iframe{

    border-radius: 5px;
}
